<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="de.ilpt.plugins.googlefit"
	version="0.0.1">

	<name>cordova-plugin-googlefit</name>
	<description>Cordova plugin for Google Fit</description>

	<keywords>cordova,googlefit,healthkit</keywords>
	<repo>https://github.com/dam1/cordova-plugin-googlefit</repo>
	<issue>https://github.com/dam1/cordova-plugin-googlefit/issues</issue>

	<js-module src="www/googlefit.js" name="googlefit">
		<clobbers target="navigator.googlefit" />
	</js-module>
	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="GoogleFit" >
				<param name="android-package" value="de.ilpt.plugins.googlefit.GoogleFit"/>
			</feature>
		</config-file>

		<framework src="com.android.support:support-v4:21.0.0" />
		<framework src="com.google.android.gms:play-services-fitness:+" />

		<source-file src="src/android/java/de/ilpt/plugins/googlefit/GoogleFit.java" target-dir="src/android/java/de/ilpt/plugins/googlefit" />
		<source-file src="src/android/java/de/ilpt/plugins/googlefit/Connection.java" target-dir="src/android/java/de/ilpt/plugins/googlefit" />
		<source-file src="src/android/build-extras.gradle" target-dir="./" />
	</platform>

</plugin>